<section>
  <h2><%= name %></h2>
  <% let categoryUnit = name[0].toLowerCase() + name.slice(1, -1) %>
  <% let queryStr = Object.keys(query).reduce((str, key) => str + `&${key}=${query[key]}`, '').slice(1); %>
  <a href="/?<%= queryStr %>&show<%= categoryUnit[0].toUpperCase() + categoryUnit.slice(1) %>Form=true">
    Add <%= categoryUnit %>
  </a>
  <ul>
    <% shownCategories.forEach((category) => { %>
    <li>
      <a 
        href="/books?<%= categoryUnit + "Id" %>=<%= category.id %>"
      ><%= category.name %></a>
    </li>
    <% }); %>
  </ul>
  <div class="pages">
    <% for (let page = 1; page <= pages; page++) { %> 
      <% const queryCopy = {...query}; %> 
      <% queryCopy[categoryUnit+ "sPage"] = page %>
      <a
        href="/?<%= Object.keys(queryCopy).reduce((str, key) => str + `&${key}=${queryCopy[key]}`, '').slice(1) %>"
      ><%= page %></a>
    <% } %>
  </div>
</section>
