<div class="form-container <% if (locals.invisible) { %> invisible <% } %>">
  <div class="overlay <%if (locals.invisible) { %> invisible <% } %>"></div>
  <% let queryStr = Object.keys(query).reduce((str, key) => str + `&${key}=${query[key]}`, '').slice(1); %>
  <form 
    action="/<%= action %>-<%= name %>?<%= queryStr %>" 
    method="post"
  >
    <button type="button">⨯</button>
    <% fields.forEach((field) => { %>
    <% if (!field.invisible) { %>
      <label for="<%= field.name %>">
        <%= field.name[0].toUpperCase() + field.name.slice(1) %>
      </label>
    <% } %>
    <% if (field.type === "select") { %>
      <select 
        name="<%= field.name %>" 
        id="<%= field.name %>"
        <% if (field.multiple) { %> multiple <% } %>
        required
      >
        <% field.options.forEach((option) => { %>
          <option 
            value="<%= option.id %>"
            <% if (option.selected) { %> selected <% } %>
          >
            <%= option.name %>
          </option>
        <% }); %>
      </select>
    <% } else if (field.type === "textarea") { %>
      <textarea name="<%= field.name %>" id="<%= field.name %>" required>
        <%= field.value || "" %>
      </textarea>
    <% } else { %>
      <input
        type="<%= field.type %>"
        name="<%= field.name %>"
        id="<%= field.name %>"
        <% if (field.value) { %> value="<%= field.value %>" <% } %>
        <% if (field.invisible) { %> style="display: none;" <% } %>
        required
      />
      <% } %>
    <% }); %>
    <button type="submit">
      <%= action[0].toUpperCase() + action.slice(1) %>
    </button>
  </form>
</div>