<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title><%= book.name %></title>
  </head>
  <body>
    <%- include("partials/header", { title: "Books Inventory" }) %>
    <main>
      <h2 class="title"><%= book.name %></h2>
      <img src="<%= book.image_url %>" alt="<%= book.name %>'s cover" />
      <section class="details">
        <div class="authors">
          Authors: <% authors.forEach((author, id) => { %>
          <a href="/books?authorId=<%= author.id %>">
            <%= author.name %>
          </a>
          <% if (id !== authors.length - 1) { %>
            <%= ", " %>
          <% }}); %>
        </div>
        <div class="publisher">Publisher: 
          <a href="/books?publisherId=<%= publisher.id %>">
            <%= publisher.name %>
          </a>
        </div>
        <div class="publishment_year">Publication year: <%= book.year %></div>
        <div class="genres">
          Genres: <% genres.forEach((genre, id) => { %>
          <a href="/books?genreId=<%= genre.id %>">
            <%= genre.name %>
          </a>
          <% if (id !== genres.length - 1) { %>
            <%= ", " %>
          <% }}); %>
        </div>
      </section>
      <section class="description">
        <% book.description.split("\n").forEach((p) => { %>
          <p><%= p %></p>
        <% }); %>
      </section>
    </main>
  </body>
</html>
