<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <script src="/books.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/header", { title: "Books Inventory" }) %>
    <main>
      <h2><%= title %></h2>
      <section class="books">
        <% shownBooks.forEach((book) => { %>
          <%- include("partials/book", { book }) %>
        <% }); %>
        <div class="book">
          <button>+</button>
          <div class="title">Add book</div>
        </div>
      </section>

      <%- include("partials/form", {
        action: "add",
        name: "book",
        fields: [
          { name: "name", type: "text" },
          { name: "year", type: "number" },
          { name: "description", type: "textarea" },
          { name: "image", type: "url" },
          { name: "quantity", type: "number" },
          { name: "publisher", type: "select", options: publishers },
          { name: "authors", type: "select", multiple: true, options: authors },
          { name: "genres", type: "select", multiple: true, options: genres }
        ],
        invisible: true,
        query: {}
      })
      %>
    </main>
  </body>
</html>
